[build-system]
requires = ["setuptools>=78.1.0"]
build-backend = "setuptools.build_meta"

[project]
name = "kospex"
version = "0.0.17"
description = "The kospex CLI tool."
authors = [{ name = "Peter Freiberg", email = "peter.freiberg@gmail.com" }]
license = { file = "LICENSE" }

dependencies = [
    "Click",
    "flask",
    "prettytable",
    "dateutils",
    "panopticas",
    "python-dotenv",
    "sqlite_utils",
    "requests",
    "PyGithub==2.6.1",
    "PyYAML",
    "mkdocs",
]

requires-python = ">=3.11"
readme = "README.short.md"
keywords = ["analytics", "git", "code analytics", "predictive maintenance"]
classifiers = ["Programming Language :: Python :: 3"]


[tool.setuptools.package-data]
"*" = [
    "templates/*.html",
    "templates/**/*.html",
    "static/css/*.css",
    "static/js/*.js"
]

[project.scripts]
kgit = "kgit:cli"
kospex = "kospex:cli"
krunner = "krunner:cli"
kreaper = "kreaper:cli"
kweb = "kweb:kweb"
kwatch = "kwatch:cli"

[project.urls]
Homepage = "https://kospex.io"
Issues = "https://github.com/kospex/kospex/issues"
Repository = "https://github.com/kospex/kospex"
