<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Web App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

{% include 'header.html' %}

<!-- Main content area -->

<div class="container mt-5">
    <h1 class="mb-4">Observations</h1>
    <h2> {{ repo_id }} </h2>
    <h2> {{ observation_key }} </h2>
    <table class="table table-striped compact" id="myTable">
        <thead>
            <tr>
                <th>Filename</th>
                <th># Observations</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row['file_path'] }}</td>
                <td class="dt-body-right">{{row['observations']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include '_footer_scripts.html' %}
{% include '_datatable_scripts.html' %}

<script>
    $(document).ready( function () {
        $('#myTable').DataTable({
            order: [[1, 'desc']]
        });
    } );
</script>

</body>
</html>
