<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Web App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

{% include 'header.html' %}

<!-- Main content area -->

<div class="container mt-5">
    <h1 class="mb-4">Orgs</h1>
    <table class="table table-striped compact" id="myTable">
        <thead>
            <tr>
                <th>Server</th>
                <th>Org</th>
                <th>Repos</th>
                <th># Authors</th>
                <th># Committers</th>
                <th># Commits</th>
                <th>Last Seen (days)</th>
                <th>Active Devs</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row['_git_server'] }}</td>
                <td><a href="/repos/?org_key={{ row['org_key'] }}">{{ row['_git_owner'] }}</a></td>
                <td class="dt-body-right">{{row['repos']}}</Td>
                <td class="dt-body-right">{{ row['authors'] }}</td>
                <td class="dt-body-right">{{ row['committers'] }}</td>
                <td class="dt-body-right">{{ row['commits'] }}</td>
                <td class="dt-body-right">{{ row['days_ago'] }}</td>
                <td class="dt-body-right">{{ row['active_devs'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include '_footer_scripts.html' %}
{% include '_datatable_scripts.html' %}

<script>
    $(document).ready( function () {
        $('#myTable').DataTable({
            order: [[4, 'asc']]
        });
    } );
</script>

</body>
</html>
