<!doctype html>
<html lang="en">
    {% set title = "Open Source Inventory" %} {% include
    '_bootstrap_html_head.html'%}
    <body>
        {% include 'header.html' %}

        <!-- Main content area -->
        <div class="container mt-5">
            <h1 class="mb-4">Open source Inventory</h1>
            First, some basics.
            <br />
            <h2 class="mb-4">Component or library search</h2>
            <form></form>
        </div>

        {% include '_footer_scripts.html' %}
    </body>
</html>
