<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Web App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

{% include 'header.html' %}

<!-- Main content area -->

<div class="container mt-5">

    <h1 class="mb-4">{{ page['git_owner']}} Repositories</h1>
    {% if page['git_server'] %} <h3 class="mb-4">{{ page['git_server'] }}</h3> {% endif %}
    {% if page['git_owner'] %}
    <h4 class="mb-4"><a href="https://{{ page['git_server'] }}/{{ page['git_owner'] }}">https://{{ page['git_server'] }}/{{ page['git_owner'] }}</a></h4> 
    {% endif %}
    <table class="table table-striped sortable compact" id="myTable">
        <thead>
            <tr>
                <th>Repo ID</th>
                <th># Authors</th>
                <th># Committers</th>
                <th># Commits</th>
                <th>Last Seen (days)</th>
                <th>Active Devs</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td><a href="/repo/{{ row['_repo_id'] }}">{{ row['_repo_id'] }}</a></td>
                <td class="dt-body-right">{{ row['authors'] }}</td>
                <td class="dt-body-right">{{ row['committers'] }}</td>
                <td class="dt-body-right">{{ row['commits'] }}</td>
                <td class="dt-body-right">{{ row['days_ago'] }}</td>
                <td class="dt-body-right"><a href="/developers/active/{{ row['_repo_id'] }}">{{ row['active_devs'] }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if ranges %}
    <br/>
    <h1 class="mb-4">Maintenance Status</h1>
    <table class="table" id="status_table">
        <thead>
            <tr>
                <th> Active </th>
                <th> Aging </th>
                <th> Stale </th>
                <th> Unmaintained </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ ranges.get('Active') }} </a></td>
                <td> {{ ranges.get('Aging') }} </a></td>
                <td> {{ ranges.get('Stale') }} </a></td>
                <td> {{ ranges.get('Unmaintained') }} </a></td>
            </tr>
        </tbody>
    </table>
    {% endif %}

</div>

{% include '_footer_scripts.html' %}
{% include '_datatable_scripts.html' %}

<script>
    $(document).ready( function () {
        $('#myTable').DataTable({
            order: [[4, 'asc']]
        });
    } );
</script>

{% if techs %}
<div class="container mt-5">
    <h1 class="mb-4">Observed Technologies</h1>
    <canvas id="barChart"></canvas>
</div>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('barChart').getContext('2d');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ techs|map(attribute='Language')|list|tojson }},
            datasets: [{
                label: '# of Occurrences',
                data: {{ techs|map(attribute='count')|list|tojson }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    // ... add more colors if you have more categories
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    // ... add more border colors if you have more categories
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endif %}

</body>
</html>
